<ion-header>
  <app-header title="Cards"></app-header>
</ion-header>

<ion-content>
  <ion-card mode='ios'>
    <ion-card-header>
      <ion-card-subtitle>AEl mejor anime del mundo</ion-card-subtitle>
      <ion-card-title>Nartuo Uzumaki</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis totam aperiam officia maiores itaque laudantium ipsa! Quod nulla similique, porro iste eos culpa sed ab nesciunt unde eum incidunt voluptatem?
    </ion-card-content>
  </ion-card>
  
  
  <ion-card>
    <img src="https://www.latercera.com/resizer/LtvijvmL1u8YitU83oC0zhHUz3c=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/HCZX4NCJLNGQPJ4WH74GGWZZ6E.jpg" >
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis totam aperiam officia maiores itaque laudantium ipsa! Quod nulla similique, porro iste eos culpa sed ab nesciunt unde eum incidunt voluptatem?
    </ion-card-content>
  </ion-card>
  
  
    <ion-card>
      <ion-item color="warning">
        <ion-icon slot="start" name='home'></ion-icon>
        <ion-label>Ir a home </ion-label>
      </ion-item>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates omnis animi cupiditate sunt vel praesentium expedita incidunt a eos culpa, natus tempora? Eum optio, aut placeat voluptatum saepe doloribus vero?
      </ion-card-content>
    </ion-card>
</ion-content>
